@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@media (min-width:1000px) {
  body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    margin:0 auto;
  }
  .vertical-align {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
  }
  .container-md {
    background-color: hsl(244, 38%, 16%);
    border-radius: 12px;
  }
  h1  {
    color: hsl(0, 0%, 100%);
    font-family:  'Inter', sans-serif;
    font-weight: 700;
  }
  .col-md-4 > p {

    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
  }
  .col-md-6 > p {
    font-family:  'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
  }
  h3 {
    color:hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
  }
  div > img {
    filter: invert(2%) sepia(4%) saturate(5003%) hue-rotate(244deg) brightness(60%) contrast(120%);}
  img {
    width: 100%;
    border-radius: 0 12px 12px 0;
  }
  .col-md-6 {
    padding-right:  0;
  }
}
@media (max-width:400px) {
  h1  {
    color: hsl(0, 0%, 100%);
    font-family:  'Inter', sans-serif;
    font-weight: 700;
    padding-top: 20px;
  }
  .col-md-4 > p {

    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
  }
  .col-md-6 > p {
    font-family:  'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
  }
  h3 {
    color:hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
  }
  div > img {
    filter: invert(2%) sepia(4%) saturate(5003%) hue-rotate(244deg) brightness(60%) contrast(120%);}

  #container-big {
    background-color: hsl(244, 38%, 16%);
    border-radius: 12px;
    text-align: center;
  }
  body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    margin: 0 auto;
  }
  #text-area {
    width: 80%;
    position: absolute;
    top: 308px;
    left: 37.5px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0 0 12px 12px;
  }
  #text-area p {
    padding: 0 5px;
  }
  #image-area {
    margin: 0 auto;
    width: 80%;
    position: absolute;
    top: 60px;
    left: 37.5px;
    background-color: hsl(244, 38%, 16%);
    padding: 0;
    border-radius: 12px;

  }
  #image-area img {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }
}
